
body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url(临时背景2.jpg);
	background-size: cover;
}
.first-box{
	border-radius: 20PX;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	height: 200px;
	width: 500px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
	backdrop-filter: blur(30px);
}

.first-box1{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	height: 200px;
	width: 200px;
}

.first-box2{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	height: 200px;
	width: 300px;
}


.second-box{
	border-radius: 20PX;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 500px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
	backdrop-filter: blur(20px);
}

.third-box{
	border-radius: 20PX;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 500px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
	backdrop-filter: blur(10px);
}

.wrap{
	width: 530px;
	margin: 20px auto o;
	height: 1000px;
}