<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>女仆营业部</title>
	<link rel="stylesheet" type="text/css" href="../static/UI.css"/>
     


</head>

<body>
    <form action="{{ url_for('detect') }}" method="post">
        <input type="submit" value="  Start  " class="btn twinkle" style="font-size:40px; border-radius: 5px;">
    </form>

	<div class="all">


        <div class="videoPart">

            <br>
            <p id="yu1" style="font-size: 80px;">welcome to self-checkout counter</p>
            <br>
            <br>

            <div class="video_container">
                <video id="video" height="900px" width="675px" autoplay loop>
                    <source id="source" src="static/1.mp4">
                </video>
            </div>

	    </div>
	</div>
	



	
</body>


</html>