<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>女仆营业部</title>
	<link rel="stylesheet" type="text/css" href="../static/UI.css"/>
     <meta http-equiv="refresh" content="5;url={{ url_for('homepage') }} ">
	

</head>


<body>
	<div class="all">

        <div class="videoPart">

            <br>

            <p style="font-size: 68px;">Bye, </p>
            <p style="font-size: 60px;">looking forward to your next visit! </p>

            <br>

            <div class="video_container">
                <video class = "v4" height="900px" width="675px" autoplay loop>
                    <source id="source" src="static/4.mp4">
                </video>
            </div>

	    </div>
	</div>
	



	
</body>


</html>