<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<mete name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>毛玻璃效果展示</title>
	<link rel="stylesheet" type="text/css" href="/static/毛玻璃效果.css"/>
	<style></style>
</head>
<body>


	<div id="big-box">
		<h1>big pag</h1>
		<br><br><br>


		<div class ="first-box">
			<div class="first-box1">
				<h4>商品1</h4>
				<h5>信息1</h4>
			</div>


			<div class="first-box2">
				<h1>价格1</h1>
			</div>
			
		</div>
		<br><br><br>
		
		
		<div class="second-box">
			<h4>商品2</h4>
			<br>
			<h5>信息2</h4>
			<br>
			<h6>价格2</h6>
		</div>
		<br><br><br>
		
		<div class="third-box">
			<h4>商品3</h4>
			<br>
			<h5>信息3</h4>
			<br>
			<h6>价格3</h6>
		</div>
		<br><br><br>
		
	</div>
	
	
	
	
		


<!--滑入动画展示-->
<header>
	<a href="#nav" class="nav-open">
		&#9776;
	</a>
</header>
<!--滑入动画展示-->
	
</body>
</html>